@font-face {
    font-family: 'Abril';
    src: url(./../assets/fonts/AbrilFatface-Regular.ttf);
}

.subtitle{
    color: white;
    font-family: 'Abril';
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
    letter-spacing: 1px;
}

.gradient-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.gradient-purple p{
    max-width: 70%;
    font-family: 'YDYoonche L';
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    color: white;
    margin-top: 70px;
    font-size: 1.5rem;
}